section {
    background-image: url(../imges/slanted-gradient.png);
    height: 100vh;
    background-position: center;
    background-size: cover;
  }
  .Quiz {
    background-color: white;
    padding: 10px 15px;
    border: solid white;
    width: fit-content;
    font-size: 50px;
    border-radius: 10px;
    margin-top: 100px;
    margin-bottom: 30px;
  }
  
  .theQuestion{
    background-color: white;
    width: 600px;
    min-height: 300px;
    border-radius: 5px;
  
  }
  .numberOfQuestion{
    background-color: #4c4aae;
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
  }
  .animals{
    background-color: #a1c349;
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
  }
  .answer h5{
    border: solid 2px #434371;
    width: 270px;
    min-height: 40px;
    border-radius: 20px;
    transition: background-color .4s;
    padding: 5px 10px;
    text-align: center;
  }
  .answer h5:hover{
    background-color: #434371;
    color: white;
    cursor: pointer;
  }
  
  .fa-arrow-rotate-right{
    cursor: pointer;
  }
  